@charset "utf-8";.wrap,body,html{height:100%}
*{padding:0;margin:0}ol,ul{list-style:none}
a,a:active,a:focus,a:hover{text-decoration:none}
.wrap{width:100%}.footer,.header{height:40px;line-height:40px;background-color:#09F}
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.inline{display:inline-block;white-space:normal;}
.button-list{width:99%;height:100%;padding:0 .5%}
.button-list .button-item{float:left;width:33%;text-align:center}
.button-list .button-item a{color:#fff}
.button-list .button-item .active{color:#FFEB3B;font-weight:700}
.scroll-bottom-tip{text-align:center;color:#999}
.visit-count{color:#3AF}
.main{overflow:auto;-webkit-overflow-scrolling:touch;background-color:#e5e5e5;padding:4% 0 0 4%}
.wsite-list{color:#333;font-size:12px}
.wsite-list .wsite-item{width:47%;margin-bottom:19px;margin-right:2%;background-color:#fff}
.wsite-list .wsite-item .item-img{display:block}
.wsite-list .wsite-item .item-img img{width:100%;height:100%}
.wsite-list .wsite-item .item-info{vertical-align:top;line-height:18px;margin:5px;word-break: normal;color:#7f7f7f;}
.wsite-list .wsite-item .item-info p{font-size:1.3em;word-break: normal;}