.body{background-color:#ebebeb;}
.mains{background-color:#ffffff; margin: 6% 3% 3% 3%;}
.list{border-top:1px solid #e5e5e5; padding-top: 1%; margin-right: 4.5%; margin-bottom: 3%; margin-left: 4.5%;}
.a{text-decoration:none;color:#161616;}


