li[role='presentation']{
		/*background: linear-gradient(-135deg, transparent 0.6em, #FE7F9D 0);*/
		margin: 5px 0px;
		border-radius: 10px;
	}
	.badge{
		background-color: red;
	}
	.nav>li>a{
	padding: 10px 5px;font-family: "微软雅黑";font-size: 1.2em;color: white;
	}
	.nav>li>a:hover, .nav>li>a:focus{
		/*background: linear-gradient(-135deg, transparent 0.6em, #FE7F9D 0);*/
		border-radius: 10px;
	}
	.glyphicon{
		float: right;
	}
	.heading{
		height: 35px;
	    background-color: #FE7F9D;
	    text-align: center;
	}
	.panel-title{
		font-family: "微软雅黑";
	    color: white;
	    line-height: 36px;
	    font-size: 22px;
	}
	.btn-mydefined{
		font-size: 20px;
		font-family: "微软雅黑";
		color: white;
		background-color: #3F3F3F;
	}
	.btn{
		padding: 2px 19px;
		border-radius: 10px;
	}
	.hide{
		display: none;
	}
	a{
		text-decoration: none;
		color: black;
		font-size: 16px;
		font-family: "微软雅黑";
	}
	.wellcome{
		height: 35px;
		width: 100%;
		overflow: hidden;
		line-height: 35px;
		font-size: 16px;
	}
	#course{
	position: fixed;
    z-index: 999;
    height: 3rem;
    right: 5px;
    top: 85px;
	}